@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

#search-list li {
    background-color: #0a3a61;
    color: #fff;
    border-radius: 15px;
    list-style:none;
    max-width: 100px;
    margin: 5px auto;
}
#search-list li a.borrar-pokemon{
    color:red;
    margin-left: 10px;
}
.search-list-poke {
    text-align: center;
}
.search-list-poke h5 {
    font-family: 'Press Start 2P', cursive;
    font-size: 13px;
}
.description {
    font-family: 'Press Start 2P', cursive;
    font-size: 13px;
}

.card-custom .card-image img {
    width: 100%;
}
.card-custom {
    padding: 20px !important;
    border-radius: 20px;
}
.name-poke-box {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Press Start 2P', cursive;
}
.name-poke {
    display: inline-block;
}

.name-poke-box span {
    text-align: center;
    font-size: 22px;
    font-weight: 500;
}

.card-content {
    background-color: beige;
    padding: 15px;
    display: inline-block;
}

.category,.types {
    background-color: rgb(146, 236, 161);
    font-weight: 700;
    font-size: 17px;
}

.weight,.height {
    background-color: rgb(63, 126, 97);
    color: #fff;
    font-weight: 700;
    font-size: 17px;
}
h1 {
    font-size: 2.2rem;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

#contenido {
    background: #c73030;
}

#contenido > .container {
    background: #fff;
}

.error {
    background: #c73030;
    color:#fff;
    font-size: 17px;
    font-weight: 700;
    padding-left: 10px;
}

.card-content.hide {
    display: none;
}

.info-pokemon {
    padding: 0 15px;
}
#btnAction {
    font-family: 'Press Start 2P', cursive;
}